{% extends "base.html.twig" %}

{% block title %}
    Éditer classe - {{parent()}}
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
             <h2 class="fw-bold mb-4 text-muted text-center" style="text-shadow: 8px 6px 10px rgba(0, 0, 0, 0.350);">Modifier classe 2/2</h2>
        </div>

        <div class="col-md-12">
            <section class="py-5  container">
                <div class="form-signin py-5">

                    <div class="form-floating ">
                    {{ form_start(formView) }}
                    </div>
                        <div class="form-floating my-2">
                        {{ form_label(formView.users) }}
                        {{ form_widget(formView.users) }}
                        </div>
                    {{ form_end(formView) }}
                    </div>
                </section>
        </div>
    </div>

<a href="{{app.request.headers.get('referer')}} " class="badge bg-secondary my-2" style="width: 85px; color: white; text-decoration: none">Retour</a>
</div>
{% endblock %}