    {% block navbar %}
    {# Set the current route to put the links in active class #}
    {% set currentRoute = app.request.attributes.get('_route') %}

    <header>

        {# LOGO PART #}
        <nav class="navbar navbar-expand-md  sticky-top" style="background-color: white; border-bottom: 1px solid #e9e8ea; box-shadow: 0px 15px 6px #e9e8ea">
            <div class="container">
                <a href="{{path('home')}}"><img src="{{asset('img/logo-css.png')}}" style="width : 120px"></a>
              

                {# PAGES LINKS #}

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <h2 class="fw-bold mb-4 text-center mx-auto" style="text-shadow: 8px 8px 6px rgba(0, 0, 0, 0.350);">CSS - Administration</h2>
                </div>
                    

                    <div class="d-flex">
                        {% if app.user %}
                            <a class="btn btn-outline-secondary mx-2" href=" {{path('app_logout')}} "><i class="far fa-user"></i></a>
                            <p class="my-2 fw-bold"> 
                            {{app.user.firstname}} {{app.user.lastname}} 
                            </p>
                            
                        {% else %} 
                            <a class="btn btn-secondary mx-2" href=" {{path('app_login')}}"><i class="fas fa-user"></i></a>
                        {% endif %}
                    </div>
                    
                </div>
            </div>
        </nav>
 

    
    {% endblock %}